# Directory #
#############
__pycache__/
.vscode/
/target
/container-context
/container-target
/libs

# files #
#########
*.lock
*.txt

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so